<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Episode 1. Basic Data Binding</title>
</head>
<body>
    <div id="root">
        <ul>
            <li v-for="name in names" v-text="name"></li>
        </ul>

        <input id="input" type="text" v-model="newName">
        <button v-on:click="addName">Add Name</button>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: '#root',

            data: {
                newName: '',
                names: ['Jhersy', 'Sara', 'Sareli', 'Luis']
            },

            methods: {
                addName() {
                    this.names.push(this.newName);

                    this.newName = '';
                }
            }
        });
    </script>
</body>
</html>